
body
  margin: 0
  font-family: "Arial"
  font-size: 14px

.hide
  display: none

.main
  margin: 40px auto
  width: 500px
  border: 1px solid #ccc
  padding: 20px

.control-group
  margin: 0 0 20px 0
  .control
    margin: 0 0 10px 0
  .text input
    border: none
    border: 1px solid #999
    border-radius: 4px
    width: 100%
    padding: 6px
    &:active, &:focus, &:required, &:invalid
      box-shadow: none !important
  .button .label
    display: none
  .button input
    border: none
    padding: 6px 14px
    background: #45b9f2
    color: #fff
